body{
  margin:0;
  background-color: #f8f9fd;

}
.flag {
  width: 20px;
}

.profile {
  width: 30px;
}

.navbar .container-fluid {
  display: block;
}

.card-img {
  background: url("../images/customer-support.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5px;
}
#sidebar{
  background-color:#293042;
  color: white;
}
